apiVersion: apps/v1
kind: Deployment
metadata:
  name: targeting-service
  namespace: targeting
spec:
  replicas: 2
  selector:
    matchLabels:
      app: targeting-service
  template:
    metadata:
      labels:
        app: targeting-service
    spec:
      containers:
        - name: targeting-service
          image: 817878529306.dkr.ecr.us-east-1.amazonaws.com/togglemaster/targeting-service:v1
          imagePullPolicy: Always

          ports:
            - containerPort: 8003

          envFrom:
            - configMapRef:
                name: targeting-config
            - secretRef:
                name: targeting-secrets

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"

          readinessProbe:
            tcpSocket:
              port: 8003
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            failureThreshold: 3

          livenessProbe:
            tcpSocket:
              port: 8003
            initialDelaySeconds: 20
            periodSeconds: 20
            timeoutSeconds: 1
            failureThreshold: 3
