apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: auth
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
    - name: http
      port: 8080
      targetPort: 8001
